.footer-form {
  border: 4px solid #f1f1f1;
 
  

  &__container {
    padding: 20px;
    background-color: #f1f1f1;
  }

  &__container--input{
    background-color: $offWhite;
  }

  &--text {
    text-align: center;
    

    h2, p {
      color: $mainTeal;
    }
  }

  .textStyle, input[type=submit]{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  input[type=submit]{
    background-color: $mainGold;
    color: $offWhite;
    border: none;
    border-radius: 5px;
    
  }

  input[type=submit]:hover {
    opacity: 0.8;
  }
}

/*padding and color added to the containers*/
