.page-section {
  padding: 1.2rem 0;
  @media (--medium-viewport) {
    padding: 4rem 0;
  }

  &--testimonials{
    background: url(assets/images/gym.jpg) top center no-repeat;
    background-size: cover;
    
  }

  &--blog {
    padding: 1.2rem 0;
  }

  &--gradient{
    background-color: rgba(211, 211, 211, .7);
  }
}