.primary-nav {
  
  &--pull-left {
    
    
    @media (--medium-viewport) {
      float: left;
    }
  }

  ul {
    
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    padding: 10px 20px;

    @media (--medium-viewport) {
      float: left;
      display: block;
      
    }
  }

  a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: 300;
    text-transform: uppercase;
    color: $mainTeal;
  }

  a:hover {
    border-radius: 5px;
    color:$offWhite;
    background-color:rgba(185,155,35,0.70);

    @media (--medium-viewport) {
      background:transparent;
      color: $mainGold;
    }
  }
}