.site-footer {

  a:hover{
    color: $offWhite;
    background: rgba(35,185,155,0.6);
  }
  
  padding: 0.5rem 0;
  text-align: center;

  &__text {
    display: block;
    margin-bottom: 1rem;
    font-weight: 200;

    @media (--medium-viewport) {
      display: inline;
      margin-bottom: 0;
      margin-right: 1.4rem;
    }
  }
}